<div class="diagram-canvas @Class"
     tabindex="-1"
     @ref="elementReference"
     @onmousedown="OnMouseDown"
     @onmousemove="OnMouseMove"
     @onmousemove:preventDefault
     @onmouseup="OnMouseUp"
     @onkeydown="OnKeyDown"
     @onwheel="OnWheel"
     @onwheel:stopPropagation
     @ontouchstart="OnTouchStart"
     @ontouchmove="OnTouchMove"
     @ontouchend="OnTouchEnd"
     @ontouchend:preventDefault>

    @* Links *@
    <svg class="diagram-svg-layer" style="@GetLayerStyle(Diagram.Options.LinksLayerOrder)">
        @foreach (var node in Diagram.Nodes.OfType<SvgNodeModel>().Where(n => n.Group == null))
        {
            <NodeRenderer @key="node" Node="node" />
        }

        @foreach (var group in Diagram.Groups.OfType<SvgGroupModel>())
        {
            <GroupRenderer @key="group" Group="group" />
        }

        @foreach (var link in Diagram.Links)
        {
            <LinkRenderer @key="link" Link="link" />
        }

    </svg>

    @* Nodes *@
    <div class="diagram-html-layer" style="@GetLayerStyle(Diagram.Options.NodesLayerOrder)">
        @foreach (var group in Diagram.Groups.Where(n => n is not SvgGroupModel))
        {
            if (group.Group != null) continue;
            <GroupRenderer @key="group" Group="group" />
        }

        @foreach (var node in Diagram.Nodes.Where(n => n is not SvgNodeModel && n.Group == null))
        {
            <NodeRenderer @key="node" Node="node" />
        }
    </div>

    @Widgets
</div>