@inherits DiagramCanvasComponent

<div class="diagram-canvas">
    <svg class="diagram-links">
        @foreach (var link in DiagramManager.AllLinks)
        {
            <LineLink Link="link" />
        }
    </svg>

    <div class="diagram-nodes"
         @onmousedown="OnMouseDown"
         @onmousemove="OnMouseMove"
         @onmousemove:preventDefault
         @onmouseup="OnMouseUp">
        @foreach (var node in DiagramManager.Nodes)
        {
            <NodeWidget Node="node" />
        }
    </div>
</div>