@inherits DiagramCanvasComponent

<div class="diagram-canvas" @ref="elementReference">
    <svg class="diagram-links">
        @foreach (var link in DiagramManager.AllLinks)
        {
            <CurvedLink @key="link.Id" Link="link" />
        }
    </svg>

    <div class="diagram-nodes"
         @onmousedown="OnMouseDown"
         @onmousemove="OnMouseMove"
         @onmousemove:preventDefault
         @onmouseup="OnMouseUp">
        @foreach (var node in DiagramManager.Nodes)
        {
            <NodeRenderer @key="node.Id" Node="node" />
        }
    </div>
</div>