@inherits DiagramCanvasComponent

<div class="diagram-canvas"
     tabindex="-1"
     @ref="elementReference"
     @onmousedown="OnMouseDown"
     @onmousemove="OnMouseMove"
     @onmousemove:preventDefault
     @onmouseup="OnMouseUp"
     @onkeydown="OnKeyDown"
     @onwheel="OnWheel"
     @onwheel:stopPropagation>

    @* Links *@
    <svg class="diagram-links"
         style="transform: translate(@(PanX)px, @(PanY)px) scale(@Zoom);">
        @foreach (var link in DiagramManager.AllLinks)
        {
            <LinkWidget @key="link.Id" Link="link" />
        }
    </svg>

    @* Nodes *@
    <div class="diagram-nodes"
         style="transform: translate(@(PanX)px, @(PanY)px) scale(@Zoom);">
        @foreach (var node in DiagramManager.Nodes)
        {
            <NodeRenderer @key="node.Id" Node="node" />
        }
    </div>
</div>