@inherits Blazor.Diagrams.Components.Base.NodeWidgetBaseComponent

<div class="node @(Node.Selected ? "selected" : "")"
     @onmousedown="OnMouseDown"
     @onmousedown:stopPropagation
     @ref="element"
     style="top: @(Node.Position.Y)px;
            left: @(Node.Position.X)px">
    <div class="node-content">
        node
        @foreach (var port in Node.Ports)
        {
            <PortWidget Port="port" />
        }
    </div>
</div>