<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")">
    Node Title
    @foreach (var port in Node.Ports)
    {
        <PortWidget Port="port" />
    }
</div>

@code {
    [Parameter]
    public NodeModel Node { get; set; }
}