@inherits PortWidgetBaseComponent

<div class="port @(Port.Alignment.ToString().ToLower())"
     @ref="element"
     @onmousedown="OnMouseDown"
     @onmousedown:stopPropagation
     @onmouseup="OnMouseUp">
</div>