@code {
    [CascadingParameter]
    public GroupContainer GroupContainer { get; set; }
}

<div class="layer"
     style="top: @((-GroupContainer.Y).ToInvariantString())px; left: @((-GroupContainer.X).ToInvariantString())px">
    @foreach (var node in GroupContainer.Group.Children)
    {
        if (node is GroupModel g)
        {
            <GroupRenderer @key="g.Id" Group="g"></GroupRenderer>
        }
        else
        {
            <NodeRenderer @key="node.Id" Node="node"></NodeRenderer>
        }
    }
</div>