<section class="py-4">
    <div class="container max-w-5xl mx-auto m-8">
        <div class="grid grid-cols-4 gap-4">

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_stars</h3>
                <div class="text-2xl">Stars</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">MIT</h3>
                <div class="text-2xl">License</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_downloads</h3>
                <div class="text-2xl">Downloads</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_version</h3>
                <div class="text-2xl">Version</div>
            </div>

        </div>
    </div>
</section>