@page "/demos/reconnect-links"
@inherits ReconnectLinksToClosestPortsComponent
@layout DemoLayout
@inject LayoutData LayoutData

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutData.Title = "Reconnect links";
        LayoutData.Info = "An example of reconnecting links to the closest ports.";
        LayoutData.DataChanged();
    }
}

<div style="position: absolute; z-index: 9999;">
    <button @onclick="ReconnectLinks">Reconnect links</button>
</div>

<CascadingValue Value="BlazorDiagram">
    <DiagramCanvas>
        <Widgets>
            <NavigatorWidget Width="300" Height="200"
                             Style="position: absolute; bottom: 15px; right: 15px; border: 1px solid black;"></NavigatorWidget>
        </Widgets>
    </DiagramCanvas>
</CascadingValue> 