@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.bg-main {
    background-color: #40BABD;
}

.text-main {
    color: #40BABD;
}

.bg-color1 {
    background-color: #A0B15B;
}

.bg-color2 {
    background-color: #DC9A7A;
}

.bg-color3 {
    background-color: #9EA5E3;
}

.outline-color1 {
    box-shadow: 0px 0px 0px 2px #A0B15B inset;
}

.outline-color2 {
    box-shadow: 0px 0px 0px 2px #DC9A7A inset;
}

.outline-color3 {
    box-shadow: 0px 0px 0px 2px #9EA5E3 inset;
}

.outline-color1-darker {
    box-shadow: 0px 0px 0px 2px #515a2b inset;
}

.outline-color2-darker {
    box-shadow: 0px 0px 0px 2px #874423 inset;
}

.outline-color3-darker {
    box-shadow: 0px 0px 0px 2px #2b3595 inset;
}