@page "/"
@namespace ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor.Diagrams</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <script defer="" src="_content/SharedDemo/fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="_content/SharedDemo/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="_content/SharedDemo/plugins/prism/prism.css">
    <link rel="stylesheet" href="_content/SharedDemo/plugins/elegant_font/css/style.css">
    <link id="theme-style" rel="stylesheet" href="_content/SharedDemo/css/styles.css">
    <link href="_content/Z.Blazor.Diagrams/style.css" rel="stylesheet" />
    <link href="_content/Z.Blazor.Diagrams/default.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/plugins/stickyfill/dist/stickyfill.min.js"></script>
    <script type="text/javascript" src="_content/SharedDemo/js/main.js"></script>
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
</body>
</html>
