@page "/quickstart"
@inject LayoutData LayoutData

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutData.Title = "Quick Start";
        LayoutData.Icon = "fa-paper-plane";
        LayoutData.Date = "June 13th, 2020";
        LayoutData.DataChanged();
    }
}

<div class="doc-content col-md-9 col-12 order-1">
    <div class="content-inner">
        <section id="installation-section" class="doc-section">
            <h2 class="section-title">Installation</h2>
            <div id="step1" class="section-block">
                <h3 class="block-title">Step One</h3>
                <p>
                    First, you'll need to install the NuGet package, using Visual Studio's Package Manager or the following commands.
                </p>
                <div class="code-block">
                    <h4 class="block-title">Package Manager Console</h4>
                    <p><code>Install-Package Z.Blazor.Diagrams</code></p>
                </div>
                <div class="code-block">
                    <h4 class="block-title">CLI</h4>
                    <p><code>dotnet add package Z.Blazor.Diagrams</code></p>
                </div>
            </div>
            <div id="step2" class="section-block">
                <h3 class="block-title">Step Two</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h6>Un-ordered list example</h6>
                        <ul class="list">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Aliquam tincidunt mauris.</li>
                            <li>
                                Ultricies eget vel aliquam libero.
                                <ul>
                                    <li>Turpis pulvinar</li>
                                    <li>Feugiat scelerisque</li>
                                    <li>Ut tincidunt</li>
                                </ul>
                            </li>
                            <li>Pellentesque habitant morbi.</li>
                            <li>Praesent dapibus, neque id.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <h6>Ordered list example</h6>
                        <ol class="list">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Aliquam tincidunt mauris.</li>
                            <li>
                                Ultricies eget vel aliquam libero.
                                <ul>
                                    <li>Turpis pulvinar</li>
                                    <li>Feugiat scelerisque</li>
                                    <li>Ut tincidunt</li>
                                </ul>
                            </li>
                            <li>Pellentesque habitant morbi.</li>
                            <li>Praesent dapibus, neque id.</li>
                        </ol>
                    </div>
                </div><!--//row-->
            </div><!--//section-block-->
            <div id="step3" class="section-block">
                <h3 class="block-title">Step Three</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                </p>
            </div><!--//section-block-->
        </section><!--//doc-section-->
        <section id="code-section" class="doc-section">
            <h2 class="section-title">Code</h2>
            <div class="section-block">
                <p>
                    <a href="https://prismjs.com/" target="_blank">PrismJS</a> is used as the syntax highlighter here. You can <a href="https://prismjs.com/download.html" target="_blank">build your own version</a> via their website should you need to.
                </p>

            </div><!--//section-block-->
            <div id="html" class="section-block">

                <div class="callout-block callout-success">
                    <div class="icon-holder">
                        <i class="fas fa-thumbs-up"></i>
                    </div><!--//icon-holder-->
                    <div class="content">
                        <h4 class="callout-title">Useful Tip:</h4>
                        <p>You can use this online <a href="https://mothereff.in/html-entities" target="_blank">HTML entity encoder/decoder</a> to generate your code examples.</p>
                    </div><!--//content-->
                </div>
                <div class="code-block">
                    <h6>HTML Code Example</h6>
                    <pre><code class="language-markup">&lt;!DOCTYPE html&gt; 
&lt;html lang=&quot;en&quot;&gt; 
...
&lt;div class=&quot;jumbotron&quot;&gt; 
&lt;h1&gt;Hello, world!&lt;/h1&gt; 
&lt;p&gt;...&lt;/p&gt; 
&lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;&lt;/p&gt; 
&lt;/div&gt;
&lt;div class=&quot;jumbotron&quot;&gt; 
&lt;h1&gt;Hello, world!&lt;/h1&gt; 
&lt;p&gt;...&lt;/p&gt; 
&lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;&lt;/p&gt; 
&lt;/div&gt;
...
&lt;/html&gt;</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="css" class="section-block">
                <div class="code-block">
                    <h6>CSS Code Example</h6>
                    <pre><code class="language-css">/* ======= Base Styling ======= */
body {
font-family: 'Open Sans', arial, sans-serif; 
color: #333; 
font-size: 16px; 
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale; 
}</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="sass" class="section-block">
                <div class="code-block">
                    <h6>SCSS Code Example</h6>
                    <pre><code class="language-css">@@mixin transform($property) {
-webkit-transform: $property;
-ms-transform: $property;
transform: $property;
}

.box { @@include transform(rotate(30deg)); }</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="less" class="section-block">
                <div class="code-block">
                    <h6>LESS Code Example</h6>
                    <pre><code class="language-css">@@base: #f04615;
@@width: 0.5;

.class {
width: percentage(@@width); // returns &#x60;50%&#x60;
color: saturate(@@base, 5%);
background-color: spin(lighten(@@base, 25%), 8);
}</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="javascript" class="section-block">
                <div class="code-block">
                    <h6>JavaScript Code Example</h6>
                    <pre><code class="language-javascript">&lt;script&gt; 
function myFunction(a, b) { 
return a * b; 
} 

document.getElementById(&quot;demo&quot;).innerHTML = myFunction(4, 3); 
&lt;/script&gt;</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="python" class="section-block">
                <div class="code-block">
                    <h6>Python Code Example</h6>
                    <pre><code class="language-python">&gt;&gt;&gt; x = int(input(&quot;
Please enter an integer: &quot;)) Please enter an integer: 42 
&gt;&gt;&gt; if x &lt; 0: 
... x = 0 
... print('Negative changed to zero') 
... elif x == 0: 
... print('Zero') 
... elif x == 1: 
... print('Single') 
... else: 
... print('More') 
... More</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="php" class="section-block">
                <div class="code-block">
                    <h6>PHP Code Example</h6>
                    <pre><code class="language-php">&lt;?php 
$txt = &quot;Hello world!&quot;; 
$x = 5; 
$y = 10.5; 

echo $txt; 
echo &quot;&lt;br&gt;&quot;; 
echo $x; 
echo &quot;&lt;br&gt;&quot;; 
echo $y; 
?&gt;</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
            <div id="handlebars" class="section-block">
                <div class="code-block">
                    <h6>Handlebars Code Example</h6>
                    <pre><code class="language-handlebars">Handlebars.registerHelper('list', function(items, options) { 
var out = &quot;&lt;ul&gt;&quot;; 

for(var i=0, l=items.length; i&lt;l; i++) { 
out = out + &quot;&lt;li&gt;&quot; + options.fn(items[i]) + &quot;&lt;/li&gt;&quot;; 
} 

return out + &quot;&lt;/ul&gt;&quot;; 
});</code></pre>
                </div><!--//code-block-->
                <div class="code-block">
                    <h6>Git Code Example</h6>
                    <pre><code class="language-git">$ git add Documentation.txt</code></pre>
                </div><!--//code-block-->
            </div><!--//section-block-->
        </section><!--//doc-section-->
        <section id="callouts-section" class="doc-section">
            <h2 class="section-title">Callouts</h2>
            <div class="section-block">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                </p>
            </div>

            <div class="section-block">
                <div class="callout-block callout-info">
                    <div class="icon-holder">
                        <i class="fas fa-info-circle"></i>
                    </div><!--//icon-holder-->
                    <div class="content">
                        <h4 class="callout-title">Aenean imperdiet</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <code>&lt;code&gt;</code> , Nemo enim ipsam voluptatem quia voluptas <a href="#">link example</a> sit aspernatur aut odit aut fugit.</p>
                    </div><!--//content-->
                </div><!--//callout-block-->

                <div class="callout-block callout-warning">
                    <div class="icon-holder">
                        <i class="fas fa-bug"></i>
                    </div><!--//icon-holder-->
                    <div class="content">
                        <h4 class="callout-title">Morbi posuere</h4>
                        <p>Nunc hendrerit odio quis dignissim efficitur. Proin ut finibus libero. Morbi posuere fringilla felis eget sagittis. Fusce sem orci, cursus in tortor <a href="#">link example</a> tellus vel diam viverra elementum.</p>
                    </div><!--//content-->
                </div><!--//callout-block-->

                <div class="callout-block callout-success">
                    <div class="icon-holder">
                        <i class="fas fa-thumbs-up"></i>
                    </div><!--//icon-holder-->
                    <div class="content">
                        <h4 class="callout-title">Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Link example</a> aenean commodo ligula eget dolor.</p>
                    </div><!--//content-->
                </div><!--//callout-block-->

                <div class="callout-block callout-danger">
                    <div class="icon-holder">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div><!--//icon-holder-->
                    <div class="content">
                        <h4 class="callout-title">Interdum et malesuada</h4>
                        <p>Morbi eget interdum sapien. Donec sed turpis sed nulla lacinia accumsan vitae ut tellus. Aenean vestibulum <a href="#">Link example</a> maximus ipsum vel dignissim. Morbi ornare elit sit amet massa feugiat, viverra dictum ipsum pellentesque. </p>
                    </div><!--//content-->
                </div><!--//callout-block-->
            </div>
        </section><!--//doc-section-->
        <section id="tables-section" class="doc-section">
            <h2 class="section-title">Tables</h2>
            <div class="section-block">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                </p>
            </div>
            <div class="section-block">
                <h6>Basic Table</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--//table-responsive-->
                <h6>Striped Table</h6>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--//table-responsive-->
                <h6>Bordered Table</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--//table-responsive-->
            </div><!--//section-block-->
        </section><!--//doc-section-->
        <section id="buttons-section" class="doc-section">
            <h2 class="section-title">Buttons</h2>
            <div class="section-block">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec imperdiet turpis. Curabitur aliquet pulvinar ultrices. Etiam at posuere leo. Proin ultrices ex et dapibus feugiat <a href="#">link example</a> aenean purus leo, faucibus at elit vel, aliquet scelerisque dui. Etiam quis elit euismod, imperdiet augue sit amet, imperdiet odio. Aenean sem erat, hendrerit  eu gravida id, dignissim ut ante. Nam consequat porttitor libero euismod congue.
                </p>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h6>Basic Buttons</h6>
                        <ul class="list list-unstyled">
                            <li><a href="#" class="btn btn-primary">Primary Button</a></li>
                            <li><a href="#" class="btn btn-green">Green Button</a></li>
                            <li><a href="#" class="btn btn-blue">Blue Button</a></li>
                            <li><a href="#" class="btn btn-orange">Orange Button</a></li>
                            <li><a href="#" class="btn btn-red">Red Button</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <h6>CTA Buttons</h6>
                        <ul class="list list-unstyled">
                            <li><a href="#" class="btn btn-primary btn-cta"><i class="fas fa-download"></i> Download Now</a></li>
                            <li><a href="#" class="btn btn-green btn-cta"><i class="fas fa-code-branch"></i> Fork Now</a></li>
                            <li><a href="#" class="btn btn-blue btn-cta"><i class="fas fa-play-circle"></i> Find Out Now</a></li>
                            <li><a href="#" class="btn btn-orange btn-cta"><i class="fas fa-bug"></i> Report Bugs</a></li>
                            <li><a href="#" class="btn btn-red btn-cta"><i class="fas fa-exclamation-circle"></i> Submit Issues</a></li>
                        </ul>
                    </div>
                </div><!--//row-->
            </div><!--//section-block-->
        </section><!--//doc-section-->
        <section id="video-section" class="doc-section">
            <h2 class="section-title">Video</h2>
            <div class="section-block">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h6>Responsive Video 16:9</h6>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ejBkOjEG6F0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h6>Responsive Video 4:3</h6>
                        <!-- 4:3 aspect ratio -->
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ejBkOjEG6F0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div><!--//row-->
            </div><!--//section-block-->
            <section id="icons-section" class="doc-section">
                <h2 class="section-title">Icons</h2>
                <div class="section-block">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec imperdiet turpis. Curabitur aliquet pulvinar ultrices. Etiam at posuere leo. Proin ultrices ex et dapibus feugiat <a href="#">link example</a> aenean purus leo, faucibus at elit vel, aliquet scelerisque dui. Etiam quis elit euismod, imperdiet augue sit amet, imperdiet odio. Aenean sem erat, hendrerit  eu gravida id, dignissim ut ante. Nam consequat porttitor libero euismod congue.
                    </p>
                </div><!--//section-block-->
                <div class="section-block">
                    <h6>Elegant Icon Font</h6>
                    <a href="https://www.elegantthemes.com/blog/resources/elegant-icon-font" target="_blank"><img class="img-fluid" src="assets/images/demo/elegant-icon-font.jpg" alt="elegant icons" /></a>
                </div><!--//section-block-->
                <div class="section-block">
                    <h6>FontAwesome Icon Font</h6>
                    <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><img class="img-fluid" src="assets/images/demo/fontawesome-icons.png" alt="fontawesome" /></a>
                </div><!--//section-block-->

            </section><!--//doc-section-->

        </section><!--//doc-section-->
    </div><!--//content-inner-->

</div><!--//doc-content-->

<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
        <nav id="doc-menu" class="nav doc-menu flex-column sticky">
            <a class="nav-link scrollto" href="#installation-section">Installation</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link scrollto" href="#step1">Step One</a>
                <a class="nav-link scrollto" href="#step2">Step Two</a>
                <a class="nav-link scrollto" href="#step3">Step Three</a>
            </nav><!--//nav-->
            <a class="nav-link scrollto" href="#code-section">Code</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link scrollto" href="#html">HTML</a>
                <a class="nav-link scrollto" href="#css">CSS</a>
                <a class="nav-link scrollto" href="#sass">Sass</a>
                <a class="nav-link scrollto" href="#less">LESS</a>
                <a class="nav-link scrollto" href="#javascript">JavaScript</a>
                <a class="nav-link scrollto" href="#python">Python</a>
                <a class="nav-link scrollto" href="#php">PHP</a>
                <a class="nav-link scrollto" href="#handlebars">Handlebars</a>
            </nav><!--//nav-->
            <a class="nav-link scrollto" href="#callouts-section">Callouts</a>
            <a class="nav-link scrollto" href="#tables-section">Tables</a>
            <a class="nav-link scrollto" href="#buttons-section">Buttons</a>
            <a class="nav-link scrollto" href="#video-section">Video</a>
            <a class="nav-link scrollto" href="#icons-section">Icons</a>
        </nav><!--//doc-menu-->
    </div>
</div><!--//doc-sidebar-->