@page "/documentation/groups-customization"
@layout DocumentationLayout
@inherits DocumentationPage

<PageTitle>Groups Customization - Documentation - Blazor Diagrams</PageTitle>

<h1>Groups Customization</h1>

<p>
    In Blazor Diagrams, Groups are a way to group nodes together. <br />
    Groups can also contain other groups, so you can create hierarchies.
</p>