<div class="port @Port.Alignment.ToString().ToLower() @(Port.Links.Count > 0 ? "has-links" : "") @Class"
     @ref="element"
     @onmousedown="OnMouseDown"
     @onmousedown:stopPropagation
     @onmouseup="OnMouseUp">
    @ChildContent
</div>