<div class="custom-node @(Node.Selected ? " selected" : "")">
    <div class="card" style="width: 250px;">
        <div class="card-body">
            <h5 class="card-title">Bot Answer</h5>
            <div class="form-group">
                <input type="text" class="form-control"
                       @bind-value="Node.Answer"
                       placeholder="Answer"
                       @onpointerdown:stopPropagation
                       @onpointerup:stopPropagation
                       @onpointermove:stopPropagation />
            </div>
        </div>
    </div>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public BotAnswerNode Node { get; set; }
}