@page "/demos/zoomtomodel"
@using Blazor.Diagrams.Core.Models.Base
@layout DemoLayout
<div style="position: absolute; z-index: 10;">
    <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Node1)">
        Zoom onto Node 1
    </button>
    <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Node2)">
        Zoom onto Node 2
    </button>
    <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Port1)">
        Zoom onto Node 1 Port
    </button>
    <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Port2)">
        Zoom onto Node 2 Port
    </button>
    <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Link)">
        Zoom onto Link
    </button>
     <button class="btn btn-primary m-2"
            @onclick="() => diagram.ZoomToFit(Group)">
        Zoom onto Group
    </button>
    
</div>


<CascadingValue Value="diagram">
    <DiagramCanvas></DiagramCanvas>
</CascadingValue>

@code {

    private Diagram diagram = new Diagram(new DiagramOptions()
    {
        Groups= new DiagramGroupOptions()
        {
            Enabled=true,
        },
        
    });
    [Inject]
    LayoutData LayoutData { get; set; }
    NodeModel Node1;
    NodeModel Node2;
    LinkModel Link;
    PortModel Port1;
    PortModel Port2;
    GroupModel Group;
    protected override void OnInitialized()
    {

        base.OnInitialized();
       
        LayoutData.Title = "Zoom to model";
        LayoutData.Info = "Select a Model and click the button to zoom onto it.";
        LayoutData.DataChanged();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            InitDiagram();

        }
        return base.OnAfterRenderAsync(firstRender);
    }
    private void InitDiagram()
    {
        Node1 = new NodeModel()
            {
                Title = $"Node 1",

            };
        Node1.SetPosition(100, 100);

        Node2 = new NodeModel()
            {
                Title = "Node 2"
            };
        Node2.SetPosition(300, 100);
        Port1 = new PortModel(Node1, PortAlignment.Right);
        Port2 = new PortModel(Node2, PortAlignment.Left);
        Node1.AddPort(Port1);
        Node2.AddPort(Port2);
        Link = new LinkModel(Port1, Port2);

        Group = new GroupModel(new List<NodeModel>() { Node1, Node2 });
        Group.Title = "My group";
        diagram.Nodes.Add(Node1);
        diagram.Nodes.Add(Node2);
        diagram.Links.Add(Link);
        diagram.AddGroup(Group);
    }


}
