name: Build and Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches:
     - master
     - develop

jobs:
  build:
    name: Build - ${{ matrix.configuration }}

    strategy:
      matrix:
        configuration: [ Debug, Release ]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            6.0.x
            3.1.x
    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration ${{ matrix.configuration }}

    - name: Test
      if: matrix.configuration == 'Debug'
      run: dotnet test --no-build

    - name: Pack
      if: matrix.configuration == 'Release'
      run: dotnet pack --configuration ${{ matrix.configuration }} -o packages

    - name: Upload packages
      if: matrix.configuration == 'Release'
      uses: actions/upload-artifact@v3
      with:
        name: packages
        path: packages/
        retention-days: 5