.node {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

    .node.selected {
        border: 1px solid #6e9fd4;
    }

        .node.selected .port {
            border: 1px solid #6e9fd4;
        }

    .node .port {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
    }

        .node .port.has-links {
            background-color: black;
        }

        .node .port.bottom {
            position: absolute;
            bottom: -10px;
            left: 40px;
        }

        .node .port.top {
            position: absolute;
            top: -10px;
            left: 40px;
        }

        .node .port.left {
            position: absolute;
            left: -10px;
            top: 30px;
        }

        .node .port.right {
            position: absolute;
            right: -10px;
            top: 30px;
        }

    .node > .node-content {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
