.node {
    width: 100px;
    height: 100px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border-color: black;
}

    .node.selected {
        border: 2px solid red;
    }

    .node .port {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
    }

        .node .port.bottom {
            position: absolute;
            bottom: -10px;
            left: 40px;
        }

        .node .port.top {
            position: absolute;
            top: -10px;
            left: 40px;
        }

        .node .port.left {
            position: absolute;
            left: -10px;
            top: 40px;
        }

        .node .port.right {
            position: absolute;
            right: -10px;
            top: 40px;
        }

    .node > .node-content {
        width: 100%;
        height: 100%;
        position: relative;
    }
