.default-node {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .default-node.selected {
        border: 1px solid #6e9fd4;
    }

        .default-node.selected .port {
            border: 1px solid #6e9fd4;
        }

    .default-node .port {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        cursor: pointer;
    }

        .default-node .port:hover, .default-node .port.has-links {
            background-color: black;
        }

        .default-node .port.bottom {
            position: absolute;
            bottom: -10px;
            left: 40px;
        }

        .default-node .port.top {
            position: absolute;
            top: -10px;
            left: 40px;
        }

        .default-node .port.left {
            position: absolute;
            left: -10px;
            top: 30px;
        }

        .default-node .port.right {
            position: absolute;
            right: -10px;
            top: 30px;
        }

.diagram-navigator.default {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 3px solid #9BA8B0;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}

.diagram-navigator.default .current-view {
    border: 2px solid #40babd;
}
