.diagram-canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.diagram-links, .diagram-nodes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.node {
    position: absolute;
    user-select: none;
    cursor: move;
}