.diagram-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
    overflow: hidden;
    cursor: grab;
}

.diagram-svg-layer, .diagram-html-layer {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    pointer-events: none;
    transform-origin: 0px 0px;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.node {
    position: absolute;
    user-select: none;
    cursor: move;
    pointer-events: all;
}

.link {
    pointer-events: all;
    cursor: pointer;
}

.diagram-navigator {
    z-index: 10;
}

    .diagram-navigator .current-view {
        position: absolute;
        border: 2px solid black;
    }
