.diagram-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
    overflow: hidden;
    cursor: grab;
}

.diagram-links, .diagram-nodes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.diagram-links {
    overflow: visible !important;
}

.node {
    position: absolute;
    user-select: none;
    cursor: move;
    pointer-events: all;
}

.link {
    pointer-events: all;
    cursor: pointer;
}
